.MiddleNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 84px;
    width: '100%';
}

.container{
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // background-color: red;
}


.searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    height: 48px;
    border: 0.5004362463951111px solid #D8D8D8;
    border-radius: 24px;
    margin-right: 191.33px;
    // width: '100%';
}

.search{
    margin-left: 16.8px;
    margin-right: 8px;
}

// .burgermenu{
    
//     margin-right: 32px;
// }
.logo{
    margin-right: 224.62px;
    width: 85px;
    height: 56.78px;
}

// .offers{
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     margin-right: 51.4px;
// }

// .offersText{

//     margin-left: 20px;
// }

.text{
    font-family: "Montserrat-SemiBold";

    font-size: 16px;

}

// .textunderline{
//     text-decoration: underline;
//     margin-left: 10px;
//     margin-right: 20px;
// }

.logowithtext{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 32px;

}

.noMarginRight{
    margin-right: 0px;

}

.icon{
    margin-right: 8px;
}