.Breadcrumbs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 68px;
    border-bottom: 0.5px solid #575756;

}

.container{
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



.text{
    color: #1D1D1B;
   font-size: 16px;
   font-family: "Montserrat-Medium";
   cursor: pointer;

}




