.Product{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}

.container{
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.productInfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 63.81px;
}





