@import '../../../variables.scss';

.Card{
    display: flex;
    flex-direction: column;
    width: 268px;
    height: 440px;
    border: 0.7551665306091309px solid #ECECEC;
    border-radius: 5px;
    margin-right: 32px;
    align-items: center;
}


.mainImgContainer{
    position: relative;
    margin-top: 8px;
    margin-bottom: 9.16px;
}

.tag{
    position: absolute;
       left: 8px;
       top: 8px;
       z-index: 1;
       width: 40px;
       height: 40px;
       background: #FFFFFF 0% 0% no-repeat padding-box;
       box-shadow: 0px 0px 3px #00000040;
       border-radius: 7px;

       display: flex;
       align-items: center;
       justify-content: center;
}

.tagLogo{
    width: 28px;
    height: 30px;
}

.title{
    font-family: 'Montserrat-SemiBold';
    font-size: 14px;
    color: #1D1D1B;
    margin-bottom: 20px;
    margin-left: 16px;

}


.pricingContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 16px;
    margin-left: 16px;
    width: 236px;
    margin-bottom: 16px;
}

.pricing{
    display: flex;
    flex-direction: row;
    width: 50%;
    flex-wrap: wrap;
}

.discountedPrice{
    font-family: 'Montserrat-SemiBold';
    font-size: 20px;
    color: $secondary-color;
    margin-right: 19.29px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.discountedPriceCurrency{
    font-family: 'Montserrat-Regular';
    font-size: 14px;
}

.price{
    font-family: 'Montserrat-SemiBold';
    font-size: 14px;
    color: #A7A9AC;
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: line-through;
}

.priceCurrency{
    font-family: 'Montserrat-SemiBold';

}

.discountPercentage{
    background: $primary-color 0% 0% no-repeat padding-box;
    border-radius: 3px;
    width: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat-Regular';
    font-size: 10px;
    color: #000000;
}






.logo{
    width: 56px;
    height: 37px;
}





.ratings{
    display: flex;
    flex-direction: row;
    margin-bottom: 12.9px;
}

.stars{
    display: flex;
    flex-direction: row;
    margin-right: 12.8px;
}

.star{
    margin-right: 4.43px;
    width: 17px;
height: 16px;
}

.rating{
    font-family: 'Montserrat-SemiBold';
    font-size: 14px;
    color: #000000;
}

.shipment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 236px;
}

.shipmentPickup{
    justify-content: center;
    
}

.label{
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: 'Montserrat-Medium';
        font-size: 12px;
        color: #1D1D1B;

}

.text{
    font-family: 'Montserrat-SemiBold';
    font-size: 12px;
    color: #1D1D1B;
}







