.BottomNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 48px;
    background-color: black;
}

.container{
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



.text{
   color: white;
   margin-right: 115.28px;
   font-size: 17px;
   font-family: "Montserrat-SemiBold";
   cursor: pointer;

}

.textSpecial{
    color: #F11133;
    font-size: 17px;
    font-family: "Montserrat-SemiBold";
    cursor: pointer;
 }



